<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <th:block th:include="partials/bootstrap :: styling"></th:block>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<form class="container mt-5" th:action="@{/posts/create}" th:method="post" th:object="${post}">
        <div class="card-header">
            Create A Post
        </div>
    <div th:replace="partials/form :: form">
    </div>
</form>

<th:block th:replace="partials/bootstrap :: scripts"></th:block>
</body>
</html>