<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <th:block th:include="partials/bootstrap :: styling"></th:block>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<form class="container mt-5" th:action="@{/posts/{id}/edit(id = ${post.getId()})}" th:method="post" th:object="${post}">
        <div class="card-header">
            Edit A Post
        </div>
    <div th:replace="partials/form :: form">
    </div>
</form>

<!--        <div class="card-body">-->
<!--            <h5 class="card-title">Title:</h5>-->
<!--&lt;!&ndash;            th:value="${post.getTitle()}"&ndash;&gt;-->
<!--            <input type="text" name="title"  th:field="*{title}">-->
<!--            <h5 class="card-text mt-3">Body:</h5>-->
<!--&lt;!&ndash;            th:value="${post.getBody()}"&ndash;&gt;-->
<!--            <input type="text" name="body"  th:field="*{body}">-->
<!--            <div class="mt-3">-->
<!--                <button type="submit" class="btn btn-primary btn-sm">Submit</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<th:block th:replace="partials/bootstrap :: scripts"></th:block>
</body>
</html>