<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <th:block th:include="partials/bootstrap :: styling"></th:block>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<form class="container mt-5" th:action="@{/posts/{id}/edit(id = ${postEdit.getId()})}" th:method="post">
    <div class="card">
        <div class="card-header">
            Create A Post
        </div>
        <div class="card-body">
            <h5 class="card-title">Title:</h5>
            <input type="text" name="title" th:value="${postEdit.getTitle()}">
            <h5 class="card-text mt-3">Body:</h5>
            <input type="text" name="body" th:value="${postEdit.getBody()}">
            <div class="mt-3">
                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
            </div>
        </div>
    </div>
</form>

<th:block th:replace="partials/bootstrap :: scripts"></th:block>
</body>
</html>